<employee-count [all]="getTotalEmployeeCount()"
                [male]="getTotalMaleEmployeeCount()"
                [female]="getTotalFemaleEmployeeCount()"
>

</employee-count>
<br/>
<table>
    <thead>
        <tr>
            <th>code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Annual Salary</th>
            <th>Date of Birth</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;">
            <td>{{employee.code | uppercase}}</td>
            <td>{{employee.name | employeeTitlee:employee.gender}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.annualSalary | currency:'USD':true}}</td>
            <td>{{employee.dateofBirth | date:'fullDate'}}</td>

        </tr>

        <tr *ngIf="!employees || employees.length==0">
            <td colspan="5">No employee to display</td>
        </tr>
    </tbody>
</table>