table{
    color:#369;
    font-family:Arial, helvetica,sens-serif;
    font-size: large;
    border-collapse: collapse;
}
td{
    border: 1px solid #369;
    padding:5px;
}
td{
    border: 1px solid #369;
    padding:5px;
}